body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffd9dc;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #000000;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #FBEAEB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000000;
    background-color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

th {
    background-color: #778dfc;
    color: #fff; 
}

tr td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

hr {
    border: none; 
    height: 2px; 
    background-color: rgb(29, 29, 29);
    margin: 20px 0;
}

select, textarea {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0160c5;
}
